
.container-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 столбца одинаковой ширины */
    gap: 82px; /* Расстояние между постерами */
    padding: 62px 124px 124px 124px;
    /* Отступы внутри контейнера */
}

.card-container img {
    border-radius: 15px;
    width: 100%; /* Растягиваем постеры по ширине */
    height: auto;
    transition: 0.5s;
    box-shadow: 0 10px 20px 2px rgb(0, 0, 0);
}

.card-container img:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px 2px rgb(170, 0, 0);
}


.pagination-btn-container {
    display: flex; /* Используем Flexbox */
    justify-content: center;
    margin-bottom: 124px; /* Отступ сверху */
}

.pagination-top-container {
    display: flex; /* Используем Flexbox */
    justify-content: center;
    padding-top: 178px; /* Отступ сверху */
}
